In [7]:
from collections import namedtuple

nam_tup = namedtuple('human', 'name city country') # declaring a namedtuple
obj = nam_tup(name="pranay", city="London", country="England") # initializing 
print(obj) # printingthe completenamedtuple object
print(obj.name, obj.city) # accessing objects specific fields

print(obj[0],obj[2]) # accessing objects using indexes
print('-' * 35)
for x in obj: # Another way of accessing items of a namedtuple
    print(x)

human(name='pranay', city='London', country='England')
pranay London
pranay England
-----------------------------------
pranay
London
England

In [8]:
from collections import namedtuple

nam_tup = namedtuple('human', 'name city country') # declaring a namedtuple
obj = nam_tup(name="pranay", city="London", country="England") # initializing 
print(obj) # printingthe completenamedtuple object

print(obj._asdict()) # converting namedtuple to a dictionary

human(name='pranay', city='London', country='England')
OrderedDict([('name', 'pranay'), ('city', 'London'), ('country', 'England')])

In [11]:
from collections import namedtuple

nam_tup1=namedtuple('human', 'name city address class') # class is python reserved name
nam_tup2=namedtuple('human', 'name city address city') # city field has occured twice

ValueError: Type names and field names cannot be a keyword: 'class'

In [19]:
from collections import namedtuple

nam_tup1=namedtuple('human', 'name city address class', rename=True) # class is python reserved name
nam_tup2=namedtuple('human', 'name name address city', rename=True) # city field has occured twice
print(nam_tup1._fields)
print(nam_tup2._fields)

('name', 'city', 'address', '_3')
('name', '_1', 'address', 'city')